
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Gotham Pro'
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}

.visible.comments-item{
	display: block;
}
.title h1{
	font-weight: 900;
	font-size: 36px;
	color: #000;
	text-transform: uppercase;
	text-align: center;
}
.container{
	max-width: 1560px;
	padding: 0 15px;
	margin: 0 auto;
}
body, html{
	overflow-x: hidden;
}
input, button{
	outline: none;
}
.btn a, .btn button{
	color: #fff;
	text-transform: uppercase;
	font-size: 21px;
	font-weight: 900;
	border-radius: 60px;
	background: #ff6000;
	width: 280px;
	height: 68px;
	box-shadow: 4px 5px #1a160f;
	display: inline-block;
	line-height: 68px;
	border: none;
	cursor: pointer;
}
/* header */
header{
	display: flex;
}
.header-content{
	background: #000;
	width: 100%;
	height: 20px;
}
.logo{
	display: flex;
	flex-direction: column;
}
.logo span{
	font-size: 14px;
	text-transform: uppercase;
	padding-left: 36px;
	margin-top: 13px;
	display: block;
}
.logo a{
	background: #fff;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	height: 50px;
}



.header-menu{
	display: flex;
	align-items: center;
}
.header-wrapper{
	display: flex;
	align-items: center;
	padding-left: 235px;
}
.header-menu li{
	margin-right: 80px;
}
.header-menu li a{
	font-weight: 900;
	color: #6d15bf;
	font-size: 14px;
	text-transform: uppercase;
}
/* cartpopolz_doin */
.cartpopolz_doin{
	position: absolute;
	width: 230px;
	background: #dabbe3;
	padding-bottom: 25px;
	padding-top: 25px;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	margin-top: 26px;
}
.cartpopolz_in{
	text-align: center;
	margin-top: 32px;
}
.cartpoplz_count{
	display: flex;
	align-items: flex-end;
	color: #000;
}
.oplpol1{
	background: url(../img/basket-icon.png) no-repeat 20px center, #dabbe3;
	width: 230px;
	height: 50px;
	padding-top: 8px;
	display: inline-block;
	color: #fff;
	padding-left: 68px;
	font-weight: 700;
	font-size: 16px;
	position: relative;
	border-radius: 8px;
}
.oplpol1.open{
	border-top: 1px solid #f35b00;
}
.oplpol1_count{
	position: absolute;
	height: 16px;
	width: 16px;
	display: inline-block;
	left: 43px;
	top: 12px;
	color: #000;
	background: #fff;
	font-size: 12px;
	font-weight: 500;
	text-align: center;
	line-height: 16px;
	border-radius: 70px;
}
.oplpol1 span{
	display: block;
	font-size: 14px;
	font-weight: 700;
}
.cartminiitem{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	background: url(../img/basket-arrow.png) no-repeat 15px center, #ceacd8;
	padding: 18px 42px;
	margin-bottom: 7px;
}
.cartminiitem:first-child{
	margin-top: 0;
}
.plusminus{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 18px;
}
.you-choise{
	text-align: center;
	font-weight: 400;
	color: #000;
	font-size: 16px;
	margin-bottom: 16px;
}
.cartpopolz_doin .minicartbtn{
	width: 180px;
	height: 40px;
	text-transform: uppercase;
	font-size: 13px;
	color: #000;
	border-radius: 25px;
	line-height: 40px;
	display: inline-block;
	margin: 0 auto;
	margin-top: 23px;
	background: #efda4d;
	font-weight: 700;
}
.qn_mini{
	font-weight: 700;
}
.xx{
	font-size: 12px;
}
.minus, .plus{
	width: 23px;
	height: 23px;
	cursor: pointer;
}
.minus{
	background: url(../img/minus-icon.png) no-repeat center center;
	margin-bottom: 8px;
}
.plus{
	background: url(../img/plus-icon.png) no-repeat center center;
	margin-top: -7px;
}
.rightbltop.header-basket{
	margin-left: auto;
}
/* main-section */
.main-section{
	height: 650px;
	padding-top: 20px;
	background: url(../img/main-bg.jpg) no-repeat center center/cover;
}
.main-content{
	text-align: center;
}
.main-title h1{
	font-size: 42px;
	font-weight: 900;
	color: #000;
	text-transform: uppercase;
}
.main-title{
	margin-bottom: 32px;
	margin-top: 55px;
}
.main-subtitle{
	text-transform: uppercase;
	color: #871c90;
	font-size: 36px;
	font-weight: 900;
	margin-bottom: 40px;
}
.main-old{
	text-decoration: line-through;
	font-size: 30px;
}
.main-new{
	color: #871c90;
	font-size: 48px;
	font-weight: 500;
	margin-bottom: 38px;
}
.main-btn a{
	color: #000;
	font-size: 24px;
	font-weight: 500;
	background: #efda4d;
	text-transform: uppercase;
	border-radius: 50px;
	box-shadow: 3px 2px 2px #6d15bf;
	display: inline-block;
	padding: 25px 45px;
}
.header-wrapper{
	background: #fff;
	width: 100%;
	height: 50px;
	border-radius: 0 8px 8px 0;
}





.button{
	display: block;
	margin: 0;
	width: 260px;
	text-transform: uppercase;
	text-align: center;
	height: 70px;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
	background: #be9ad0;
	background: -moz-linear-gradient(top, #f285f2 0%, #c257d7 100%);
	background: -webkit-linear-gradient(top, #f285f2 0%,#c257d7 100%);
	background: linear-gradient(to bottom, #f285f2 0%,#c257d7 100%);
	font-size: 18px;
	line-height: 70px;
	letter-spacing: 1px;
	color: #fff;
	font-weight: 700;
	text-decoration: none;
	position: relative;
	cursor: pointer;
	box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.2);
	font-family: 'Museo Sans', Arial, Helvetica, sans-serif;
}

.button:active {
	top: 2px;
	background: #a668c5;
	background: -moz-linear-gradient(top, #c257d7 0%, #f285f2 100%);
	background: -webkit-linear-gradient(top, #c257d7 0%,#f285f2 100%);
	background: linear-gradient(to bottom, #c257d7 0%,#f285f2 100%);
}

.products_list{
	text-align: center;
	margin-bottom: 50px;
}
.products_list:last-child{
	margin-bottom: 0;
}

.products_list .product_item {
	display: inline-block;
	vertical-align: top;
	margin: 0 10px 20px;
	width: 30%;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background: #fff;
	overflow: hidden;
	position: relative;
	box-shadow: 0 5px 20px 0 rgba(0,0,0,0.1); 
}

.products_list .product_item .img{
	position: relative;
	overflow: hidden;
}

.products_list .product_item .img a{
	display: block;
}
.products_list .product_item .img img{
	display: block;
	margin: 0 auto;
}

.catalog_section .product_item .discount {
	width: 100px;
	height: 75px;
	padding: 40px 0 0 22px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #376c9e;
	font-size: 20px;
	line-height: 20px;
	color: #fff;
	position: absolute;
	top: -32px;
	left: -30px;
	z-index: 10;
}

.product_item .content{
	padding: 20px 20px 25px;
}

.catalog_section .product_item .title_block {
	margin: 0 20px 12px;
	text-align: center;
}

.catalog_section .product_item .title_block h4 {
	font-weight: 700;
	font-size: 32px;
	line-height: 1.1em;
}

.product_item .name{
	font-size: 20px;
	line-height: 1.1em;
	margin-bottom: 8px;
	font-weight: 500;
}

.vendor_code{
	color: #a8a9aa;
	font-size: 15px;
	line-height: 1.1em;
	margin-bottom: 18px;
}

.catalog_section .product_item .title_block p {
	font-size: 16px;
	line-height: 24px;
	color: #777;
}

.catalog_section .product_item .price_block {
	margin: 0 20px 20px;
	text-align: center;
}

.catalog_section .product_item .price_item {
	display: inline-block;
	vertical-align: middle;
}

.catalog_section .product_item .price_item.old {
	margin: 0 15px 0 0;
	text-decoration: line-through;
	font-size: 18px;
}

.catalog_section .product_item .price_item.new {
	font-size: 30px;
	font-weight: 700;
}

.product_item .button {
	width: 100%;
	height: 56px;
	line-height: 56px;
	font-weight: 700;
	box-shadow: none;
}

.product_item .hidden{
	background: #fff;
	box-shadow: 0 0 16px 0 rgba(0,0,0,0.2);
	padding: 25px 15px;
	position: absolute;
	width: 100%;
	left: 0;
	transition: all ease .3s;
	opacity: 0;
	bottom: -100px;
	visibility: hidden;
}
.product_item.active .hidden{
	bottom: 0;
	opacity: 1;
	visibility: visible;
}
.product_item .hidden .close{
	width: 13px;
	height: 13px;
	background: url(../images/x_icon.png) 50% 50% / 100% no-repeat;
	position: absolute;
	top: 10px;
	right: 10px;
	opacity: 0.6;
	cursor: pointer;
}
.product_item .hidden .close:hover{
	opacity: 0.9;
}
.product_item .hidden .close:active{
	margin-top: 2px;
}

.product_item .action{
	margin-bottom: 15px;
}
.product_item .action>span{
	font-weight: 700;
}
.product_item .action>p{
	padding: 0;
	font-size: 14px;
	line-height: 1.5em;
}
.product_item .hidden .price_block{
	margin-bottom: 10px;
}
.product_item .economy{
	font-size: 14px;
	margin-bottom: 20px;
}
.product_item .economy>span{
	color: #7ad06b;
	font-weight: 700;
}
.product_item .order_form .input{
	width: 100%;
	height: 56px;
	line-height: 56px;
	background: #f0f0f0;
	border: 1px solid #e0e0e0;
	margin-bottom: 10px;
}




/* order */
.input {
	display: block;
	margin: 0 0 15px;
	padding: 0 20px;
	width: 300px;
	height: 60px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	border: 1px solid #c4c4c4;
	font-family: 'Museo Sans', Arial, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: #222;
	text-align: center;
	-ms-text-align-last: center;
	-moz-text-align-last: center;
	text-align-last: center;
}

.input::-webkit-input-placeholder {
	opacity: 1;
	color: #222;
}

.input:-moz-placeholder {
	opacity: 1;
	color: #222;
}

.input::-moz-placeholder {
	opacity: 1;
	color: #222;
}

.input:-ms-input-placeholder {
	opacity: 1;
	color: #222;
}

.input:focus::-webkit-input-placeholder {
	opacity: 0;
}

.input:focus:-moz-placeholder {
	opacity: 0;
}

.input:focus::-moz-placeholder {
	opacity: 0;
}

.input:focus:-ms-input-placeholder {
	opacity: 0;
}


@media screen and (max-width: 1169px) {



	.catalog_section h2:before, 
	.catalog_section h2:after {
		width: 100px;
	}
	.products_list{
		margin-bottom: 25px;
	}
	.products_list .product_item{
		margin: 0 20px 30px;
	}

	.catalog_section .product_item .price_item.old{
		font-size: 20px;
	}
	.catalog_section .product_item .price_item.new{
		font-size: 28px;
	}


	/*size*/



}

@media screen and (max-width: 659px) {
	
	/* styles */

	
	.catalog_link > li{
		width: 100%;
		display: block;
		margin: 0 0 20px;
	}
	.cat_link{
		text-align: left;
		font-size: 16px;
	}
	.cat_link > img{
		max-height: 40px;
	}


	.catalog_section {
		padding: 30px 0 10px;
	}

	.catalog_section h2 {
		margin: 0 0 30px;
	}

	.catalog_section h2:before, 
	.catalog_section h2:after {
		display: none;
	}

	.catalog_section h3 {
		font-size: 24px;
		line-height: 28px;
		margin-bottom: 30px;
	}

	.products_list{
		margin-bottom: 45px;
	}

	.catalog_section .product_item {
		margin: 0 0 20px;
		display: block;
	}
	.products_list .product_item {
		width: 100%;
	}
	.wrapper_2 {
		width: 100%;
		padding: 0 30px;		
	}

}
.field {
	background: #fff !important;
}

.product_item.active .hidden {
	z-index: 10;
}


/* catalog-section */
.catalog-section{
	background: #4d0e5a;
	padding-bottom: 52px;
	padding-top: 10px;
	position: relative;
}
.catalog-subtitle{
	text-align: center;
	color: #222;
	margin-top: 32px;
	margin-bottom: 50px;
	font-size: 36px;
	font-weight: 900;
	text-transform: uppercase;
}
.catalog-box{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.tovar_item{
	background: #fff;
	width: 370px;
	text-align: center;
	margin-bottom: 34px;
}
.tovarimg{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.tovarimg img{
	max-width: 100%;
}
.nametovar{
	font-size: 24px;
	margin-bottom: 15px;
	cursor: pointer;
}
.tovar-info{
	padding: 25px 0 40px;
	background: #dabbe3;
}
.oldprlist{
	margin-right: 18px;
	text-decoration: line-through;
	color: #7c817d;
	font-size: 16px;
}
.podrob{
	display: block;
	width: 215px;
	height: 52px;
	background: #efda4d;
	color: #000;
	line-height: 52px;
	text-align: center;
	margin: 0 auto;
	margin-top: 18px;
	border-radius: 50px;
	font-size: 18px;
	font-weight: 500;
}
.podrobi {
    font-size: 16px;
    font-weight: 900;
    color: #000;
    text-transform: uppercase;
    width: 220px;
    height: 50px;
    border: none;
    border-radius: 30px;
    background: #edd84a;
    margin-top: 30px;
    cursor: pointer;
}
.prlist{
	color: #871c90;
	font-weight: 700;
	font-size: 22px;
}
.prlist.pricenum{
	color: #871c90;
	font-weight: 700;
	font-size: 36px;
}









/* can-section */
.can-section{
	padding: 80px 0 75px;
	background: #faebeb;
}
.can-title{
	margin-bottom: 45px;
}
.can-title h1{
	padding: 0 340px;
}
.can-box{
	display: flex;
	justify-content: space-between;
}
.can-item{
	text-align: center;
	max-width: 360px;
}
.can-item_name{
	color: #6d15bf;
	font-size: 23px;
	font-weight: 900;
	text-transform: uppercase;
	margin-bottom: 27px;
}
.can-item_icon{
	margin-bottom: 25px;
}
.can-item_text{
	font-size: 18px;
	color: #000;
}
.can-item_text span{
	font-size: 18px;
	font-weight: 900;
	color: #871c90;
}
/* uniq-section */
.uniq-section{
	padding-top: 80px;
	padding-bottom: 70px;
}
.uniq-content_wrapper{
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}
.uniq-item_title{
	font-size: 24px;
	font-weight: 900;
	color: #871c90;
	text-align: center;
	text-transform: uppercase;
	padding-top: 20px;
	padding-bottom: 20px;
}
.uniq-item_text span{
	font-weight: 900;
}
.uniq-item_text{
	font-size: 18px;
	font-weight: 400;
	color: #000;
}
.uniq-item{
	text-align: center;
	max-width: 480px
}
.uniq-item_img img{
	max-width: 480px;
}
.uniq-under_title{
	font-size: 30px;
	font-weight: 900;
	text-transform: uppercase;
}
.uniq-under_wrapper{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	margin-top: 50px;
}
.uniq-under_price-wrap{
	display: flex;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 28px;
}
.uniq-old-price{
	font-size: 18px;
	font-weight: 400;
}
.uniq-new-price{
	font-size: 36px;
	font-weight: 500;
	color: #871c90;
	margin-left: 10px;
}
.uniq-under_catalog{
	width: 350px;
	background: #efda4d;
	border-radius: 35px;
	padding-top: 28px;
	padding-bottom: 28px;
}
.uniq-under_catalog a{
	font-size: 24px;
	font-weight: 500;
	color: #000;
	text-transform: uppercase;

}
/* quality-section */
.quality-section{
	background: #faebeb;
	padding-top: 80px;
	padding-bottom: 110px;
}
.qual-item_title br{
	display: none;
}
.qual-undertitle{
	text-transform: uppercase;
	color: #fff;
	background: #dabbe3;
	max-width: 393px;
	height: 59px;
	font-size: 21px;
	font-weight: 900;
	margin: 0 auto;
	text-align: center;
	line-height: 54px;
	margin-top: 22px;
	margin-bottom: 45px;
}
.qual_item{
	text-align: center;
}
.qual-item_title{
	font-size: 21px;
	font-weight: 900;
	color: #000;
	text-transform: uppercase;
	margin-top: 21px;
	margin-bottom: 21px;
}
.qual-item_text{
	font-size: 18px;
	font-weight: 500;
	color: #000;
}
.qual-content_wrapper{
	display: flex;
	justify-content: space-between;
}
/* about-section*/
.about-section{
	background: url(../img/about-bg.jpg) no-repeat center center/cover;
	height: 660px;
	padding-top: 70px;
}
.about-text1{
	font-size: 36px;
	font-weight: 900;
	color: #fff;
	text-transform: uppercase;
}
.about-content_wrapper{
	color: #fff;
	display: flex;
	flex-direction: column;
	text-align: center;
}
.about-text2{
	font-size: 24px;
	font-style: italic;
	font-weight: 500;
	margin-top: 30px;
	margin-bottom: 50px;
}
.about-similar-text{
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 20px;
}
.about-text6{
	font-size: 24px;
	font-weight: bold;
	color: #4d0e5a;
	margin-top: 30px;
}
/* comment-section*/
.comment-section{
	padding-top: 90px;
	padding-bottom: 90px;
}
.comment_item{
	background: #faebeb;
	text-align: center;
	width: 490px;
	padding-top: 45px;
	padding-bottom: 70px;
	border-radius: 10px;
}
.comment-item_img{
	margin-bottom: 50px;
}
.comment-content_wrapper{
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
}
.comment-text-wrap_text{
	font-size: 18px;
	font-weight: 400;
	color: #000;
	margin-bottom: 20px;
}
.comment-text-wrap_text span{
	font-size: 18px;
	font-weight: 900;
	color: #000;
}
.comment-item_subtitle{
	color: #6d15bf;
	font-weight: 900;
	font-size: 18px;
	margin-top: 45px;
}
.comment-item_subtitle2{
	margin-top: 85px;
}
/* footer*/
footer{
	background: #6d15bf;
	padding-top: 70px;
	padding-bottom: 80px;
}
.footer-menu{
	display: flex;
	align-items: center;
	margin-left: 150px;
}
.footer-content{
	display: flex;
}
.footer-menu_link a{
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	color: #fff;
}
.footer-menu_link{
	margin-left: 80px;
}
.footer-anograph{
	font-size: 14px;
	font-weight: 500;
	color: #dabbe3;
	text-align: center;
}
.footer-logo_img{
	padding-top: 30px;
}
/* supersell-section*/
.supersell-section{
	background: url(../img/ss-bg.jpg) no-repeat center center/cover;
	padding-top: 90px;
	padding-bottom: 200px;
}
.ss-content_subtitle{
	font-size: 36px;
	font-weight: 900;
	color: #871c90;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}
.ss-content-old_price{
	text-decoration: line-through;
	font-size: 30px;
	text-align: center;
}
.ss-content-new_price{
	font-weight: 500;
	font-size: 48px;
	color: #871c90;
	text-align: center;
	margin-top: 7px;
	margin-bottom: 45px;
}
.ss-catalog{
	width: 350px;
	background: #efda4d;
	border-radius: 35px;
	padding-top: 28px;
	padding-bottom: 28px;
	text-align: center;
	margin: 0 auto;
}
.ss-catalog a{
	font-size: 24px;
	font-weight: 500;
	color: #000;
	text-transform: uppercase;
}
.ss-content_subtitle br{
	display: none;
}

/* success-section */
.success-section{
	background: url(../img/success-bg.jpg) no-repeat center center/cover;
	height: 730px;
	padding-top: 25px;
}
.success-title{
	font-size: 36px;
	font-weight: 900;
	text-transform: uppercase;
	color: #000;
}
.success-subtitle{
	color: #6d15bf;
	font-size: 18px;
	font-weight: 900;
	text-transform: uppercase;
	margin-top: 65px;
	margin-bottom: 25px;
}
.success-text{
	font-size: 18px;
	font-weight: 900;
	color: #6d15bf;
	margin-bottom: 150px;
}
.success-back a{
	font-size: 14px;
	font-weight: 900;
	color: #cc67c2;
}
.success-wrapper{
	text-align: center;
	margin-top: 105px;
}
/* zakaz-section */
.zakaz-section{
	background: url(../img/zakaz-bg.jpg) no-repeat center center/cover;
}
.zakaz-content{
	padding-top: 20px;
	padding-bottom: 70px;
}
.zakaz-title{
	text-transform: uppercase;
	font-weight: 900;
	font-size: 30px;
	color: #6d15bf;
	margin-bottom: 20px;
	text-align: center;
}
.zakaz-content .cartminiitem{
	display: flex;
	max-width: 100%;
	margin-bottom: 7px;
	align-items: center;
	padding-left: 64px;
	padding-right: 25px;
}
.cartminiitem_img {
    height: auto;
    width: 76px;
    text-align: left;
}
.cartminiitem_img img{
	max-height: 100%;max-width: 100%;
}
.zakaz-wrapper{
	width: 1530px;
	margin: 0 auto;
	padding-top: 50px;
	min-height: 890px;
}
.zakaz-box{
	margin: 0 auto;
	height: auto;
	padding-top: 22px;
	padding-left: 32px;
	padding-right: 35px;
}
.zakaz-content .cartminiitem_name{
	font-size: 18px;
	font-weight: 500;
	margin-left: -330px;
	margin-left: 0;
	width: 250px;
}
.zakaz-content .cartminiitem_name.sizesbl {
    font-size: 16px;
    font-weight: 400;
   margin-left: -330px;
    margin-left: 0;
    width: 250px;
}
.zakaz-content .main-old-price strike{
	font-size: 18px;
	font-weight: 400;
	margin-right: 27px;
}
.zakaz-content .main-new-price, .zakaz-content .main-new-price span{
	font-size: 30px;
	margin-right: 0;
	font-weight: 900;
	color: #6d15bf;
}
.zakaz-content .main-prices{
	align-items: center;
	margin-bottom: 0;
	display: flex;
}
.zakaz-content .plusminus{
	display: flex;
	width: 145px;
	justify-content: space-between;
	flex-direction: row;
}
.zakaz-content .xx{
	font-size: 20px;
	margin-left: 2px;
}
.zakaz-content .qn_mini{
	font-size: 20px;
}
.zakaz-content .cartpoplz_count{
	margin-bottom: 10px;
}
.zakaz-itog{
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	padding-top: 13px;
	padding-bottom: 30px;
}
.zakaz-itog div{
	text-transform: uppercase;
	color: #000;
	font-size: 18px;
	font-weight: 700;
	margin-right: 5px;
}
.zakaz-itog span{
	font-size: 36px;
	font-weight: 700;
	color: #e83809;
	display: inline-block;
	margin: 0 5px;
	margin-bottom: -6px;
}
.zakaz-itog p{
	color: #e83809;
	font-weight: 700;
	font-size: 18px;
}
.zakaz-form{
	width: 100%;
	padding-top: 55px;
	text-align: center;
	padding-bottom: 70px;
}
.zakaz-form input{
	width: 330px;
	height: 46px;
	line-height: 46px;
	background: #fff;
	color: #000;
	border: none;
	padding-left: 30px;
	font-size: 16px;
	font-weight: 300;
	border-radius: 8px;
}
.zakaz-form span{
	width: 220px;
	margin-right: 12px;
	font-size: 18px;
	font-weight: 700;
	color: #000;
	text-align: right;
	display: inline-block;
	margin-left: -60px;
}
.zakaz-form_name{
	margin-bottom: 18px;
}
.zakaz-form_title{
	color: #000;
	font-weight: 700;
	font-size: 30px;
	margin-bottom: 22px;
}
.zakaz-btn button{
	width: 280px;
	height: 64px;
	line-height: 64px;
	box-shadow: none;
	font-size: 18px;
	font-weight: 700;
	background: #6d15bf;
}
.zakaz-btn{
	margin-top: 20px;
}
.zakaz-form span{
	margin-left: -110px;
}
/**/
.zakaz-box .cartminiitem{
	background: #fff;
}
.zakaz-body .oplpol1{
	padding-top: 8px;
}
.zakaz-body header .cartminiitem_list .plusminus{
	flex-direction: column;
}
.zakaz-body header .cartminiitem{
	display: flex;
	justify-content: space-between;
	padding-left: 25px;
}
.zakaz-body header .plusminus{
	width: 25px;
}
.zakaz-body header .cartminiitem{
	padding-left: 15px;
	padding-right: 15px;
}
/* popup-wrapper */
.popup-wrapper{
	width: 850px;
	height: auto;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	background: #fff;
	position: relative;
}
.popup-left{
	display: flex;
}
.popup-right{
	width: 480px;
	background: #f0ece6;
	padding-top: 78px;
}
.popup-title{
	font-weight: 900;
	font-size: 24px;
	color: #000;
	margin-bottom: 30px;
	text-transform: uppercase;
	text-align: center;
}
.popup-content{
	padding-top: 55px;
	margin-left: -20px;
	background: #fff;
	width: 50%;
}
.popup-tech span{
	font-size: 14px;
	color: #ff6000;
	font-weight: 900;
	font-style: italic;
	margin-bottom: 20px;
	display: block;
}
.popup-img {
    width: 50%;
    text-align: center;
    font-size: 0;
}
.popup-tech ul li{
	margin-bottom: 20px;
}
.popup-prices{
	display: flex;
	justify-content: center;
	align-items: flex-end;
	line-height: 20px;
}
.popup-notoday{
	text-align: right;
	margin-right: 30px;
}
.popup-notoday span{
	font-size: 14px;
	font-weight: 900;
	display: block;
	margin-bottom: 5px;
}
.popup-notoday p{
	text-decoration: line-through;
}
.popup-today span{
	color: #871c90;
	font-size: 60px;
	font-weight: 700;
	margin-right: 5px;
	line-height: 20px;
	display: inline-block;
}
.popup-today p{
	font-size: 30px;
	font-weight: 700;
	color: #871c90;
	display: inline-block;
}
.popup-today div{
	margin-bottom: 30px;
	font-size: 14px;
	font-weight: 700;
	color: #000;
	text-transform: uppercase;
}
.popup-phone span{
	font-size: 18px;
	font-weight: 900;
	margin-bottom: 20px;
	display: block;
	text-align: center;
	margin-top: 40px;
}
.popup-phone{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.btn.popzakbtnbig{
	color: #000;
	font-weight: 900;
	font-size: 16px;
	max-width: 235px;
	text-decoration: underline;
	display: block;
	text-transform: uppercase;
	margin: 0 auto;
	margin-top: 55px;
	text-align: center;
}
.phone.tel{
	width: 285px;
	height: 45px;
	border: 1px solid #cfa95a;
	border-radius: 8px;
	padding-left: 24px;
}
.btn.popzakbtn{
	font-size: 16px;
	font-weight: 900;
	color: #000;
	text-transform: uppercase;
	width: 220px;
	height: 50px;
	border: none;
	border-radius: 30px;
	background: #edd84a;
	margin-top: 30px;
	cursor: pointer;
}
.popup-tech{
	padding-right: 20px;
}
.oplpol1.fixed {
    position: fixed;
    right: -28px;
    z-index: 9999999;
	padding-top: 8px;
}
.zakaz-body .oplpol1.fixed {
    position: static;
    
}

.footer-anograph a {
	color: #dabbe3;
	text-decoration: underline;
	margin-top: 5px;
}



.sizes_block {
    margin: 0 30px 14px;
}
.list_block {
    text-align: center;
}
.list_block p {
    margin: 0 0 10px;
    font-size: 14px;
    line-height: 14px;
    color: #777;
}
.catalog_section .product_item .list_block ul {
    font-size: 0;
    line-height: 0;
    letter-spacing: -1px;
    list-style: none;
}
.list_block li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 3px 6px;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 15px;
}
.sizes_block li {
    background: #e2e7ec;
    font-size: 14px;
    line-height: 30px;
    cursor: pointer;
}